<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1 change_bg>
    Welcome to {{ title }}!
  </h1>
  </div>
    <p *ngIf="items.length > 0" [ngStyle]="{ backgroundColor : 'green'}"> List of items</p>
    <ul>
      <li *ngFor=" let item of items" 
         [ngClass] = "{myClass : addClass(item)}"> {{item }}</li>
      
    </ul>
    <p *ngIf="users.length >0"> List of Users</p>
    <ul>
      <li *ngFor = "let user of users ; let i = index" 
          [ngStyle] ="{ color :addColor(user.name)}"> 
          {{i}}- {{ user.name }}  {{ user.email}}
        </li>
    </ul>
<router-outlet></router-outlet> -->
